<div class="card" id="card">
    <div class="card-body">
        <p id="time">Time Elapsed :</p>
        <span id="minutes">
                100
            </span>
        <!-- <p>:</p><span id="seconds">
                00
            </span>
            <p>:</p><span id="hundredths">
                00
            </span> -->

        <p id="flips">Flips :</p>
        <span id="flip">{{flipss}}</span>

        <p id="errorScore">Error score :</p>

        <span id="error">{{errorr}}</span>


    </div>
    <div class="container">
        <button id="playButton" type="button" class="btn btn-primary" *ngIf="this.isButtonVisible" value="playButton" (click)="onStart()">
        Start
    </button>
    </div>
</div>
<div class="overlay-text ">
    Click to Start
</div>

<div id="game-over-text" class="overlay-text ">
    GAME OVER
</div>

<div id="victory-text" class="overlay-text ">
    VICTORY
</div>

<div class="game-container">

    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/clock.png">
        </div>
    </div>

    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/desk-chair.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/flower-pot.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/ghost.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/hat.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/desk-chair.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/laptop.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/lion.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/plane.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/shoes.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/water.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/shoes.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/pen.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/plane.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/pen.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/lion.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/flower-pot.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/hat.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/car.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/laptop.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/water.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/car.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/clock.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/ghost.png">
        </div>
    </div>

</div>