<div class="card" id="card">
    <div class="card-body">
        <p id="time">Time Elapsed :</p>
        <span id="minutes">
                100
            </span>
        <!-- <p>:</p><span id="seconds">
                00
            </span>
            <p>:</p><span id="hundredths">
                00
            </span> -->

        <p id="flips">Flips :</p>
        <span id="flip">{{flipss}}</span>

        <p id="errorScore">Error score :</p>

        <span id="error">{{errorr}}</span>


    </div>
    <div class="container">
        <button id="playButton" type="button" class="btn btn-primary" *ngIf="this.isButtonVisible" value="playButton" (click)="onStart()">
        Start
    </button>
    </div>
</div>


<div class="game-container">

    <div class="card" id="c">
        <div class="card-back card-face">

        </div>
        <div class="card-front card-face">

        </div>
    </div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>
    <div class="card" id="c"></div>

</div>