<div class="container">
    <div class="card">
        <div class="card-body">
            <p id="time">Time Elapsed :&nbsp;</p>
            <span id="minutes">
                00
            </span>
            <p>:</p><span id="seconds">
                00
            </span>
            <p>:</p><span id="hundredths">
                00
            </span>

            <p id="flips">Flips :</p>&nbsp;

            <span id="flip">0</span>

            <p id="errorScore">Error score :</p>

            <span id="error">0</span>

        </div>
    </div>
    <button id="playButton" type="button" class="btn btn-primary">
        Start
    </button>
</div>