<div class="cards" id="card">
    <div class="card-body">
        <p id="time">Time Elapsed :</p>
        <span id="seconds">
            60
        </span>
        <!-- <p>:</p><span id="seconds">
                00
            </span>
            <p>:</p><span id="hundredths">
                00
            </span> -->

        <p id="flips">Flips :</p>
        <span id="flip">0</span>

        <p id="errorScore">Error score :</p>

        <span id="error">0</span>


    </div>
    <div class="container">
        <button id="playButton" type="button" class="btn btn-primary" value="playButton" routerLink="/difficulty">
        Change Difficulty
    </button>
    </div>
</div>
<div id="start-text" class="overlay-text visible">
    Click to Start
</div>

<div id="game-over-text" class="overlay-text " routerLink="/difficulty">
    GAME OVER
    <button id="restartButton" type="button" class="btn btn-primary" value="playButton" routerLink="/difficulty">
        RESTART
    </button>
</div>



<div id="victory-text" class="overlay-text " routerLink="/difficulty">
    VICTORY
    <button id="restartButton" type="button" class="btn btn-primary" value="playButton" routerLink="/easy">
        RESTART
    </button>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row"> Time Taken</th>
                <td><span id="game-over-time">0</span> seconds</td>
            </tr>
            <tr>
                <th scope="row"> Flips</th>
                <td><span id="game-over-flip">0</span></td>
            </tr>
            <tr>
                <th scope="row"> Error Score</th>
                <td><span id="game-over-error">0</span></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="game-container">

    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/clock.png">
        </div>
    </div>

    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/desk-chair.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/flower-pot.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/ghost.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/hat.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/desk-chair.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/laptop.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/lion.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/plane.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/shoes.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/water.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/shoes.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/pen.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/plane.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/pen.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/lion.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/flower-pot.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/hat.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/car.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/laptop.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/water.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/car.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/clock.png">
        </div>
    </div>
    <div class="card " id="c">
        <div class="card-back card-face">
            <img class="question" src="assets/img/question.png">
        </div>
        <div class="card-front card-face">
            <img class="card-value" src="assets/img/ghost.png">
        </div>
    </div>

</div>